{% extends 'base.html.twig' %}

{% block body %}
    <h1>La page recherchée est introuvable...</h1>

    <p>
        La page demandée n'a pas pu être localisée. Vérifiez toute faute d'orthographe d'URL ou <a href="{{ path('homepage') }}">revenez à la page d'accueil</a>.
    </p>
{% endblock %}